<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add New Patient</title>

</head>
<body>
    <h1>Add New Patient</h1>
    <form method="post">
        <br>
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required>
        </br>
        <br>
        <label for="patient_id"> ID:</label>
        <input type="text" id="patient_id" name="patient_id" required>
        </br>

        <br>
        <label for="patient_admit_date">Patient Admit Date:</label>
        <input type="date" id="patient_admit_date" name="patient_admit_date">
        </br>

        <br>
        <label for="room_no">Room Number:</label>
        <input type="text" id="room_no" name="room_no">
        </br>

        <br>
        <label for="discharge_date">Discharge Date:</label>
        <input type="date" id="discharge_date" name="discharge_date">
        </br>

        <input type="submit" value="Add Patient">
    </form>
    <br>
    <a href="{{ url_for('home') }}">Back to Home</a>
</body>
</html>
