<!DOCTYPE html>
<html>
  <head>
    <title>Add new Book</title>
  </head>
  <body>
    <form action="/addbook" method="post">
      <label>Enter Title:</label>
      <input type="text" name="name" />
      <br /><br />
      <label>Enter Quantity:</label>
      <input type="text" name="quantity" />
      <br /><br />
      <label>Enter Price:</label>
      <input type="text" name="price" />
      <br /><br />
      <label>Enter Roll.no: </label>
      <input type="text" name="roll_no" />
      <br /><br />
      <input type="submit" value="Addbook" />
    </form>
  </body>
</html>
