<!DOCTYPE html>
<html>
<head>
    <title>Add New Student</title>
</head>
<body>
    <h1>Add a New Student</h1>
    <form action="/add" method="post">
        <label for="nm">Name:</label>
        <input type="text" id="nm" name="nm" required><br><br>
        <label for="add">Address:</label>
        <input type="text" id="add" name="add" required><br><br>
        <label for="city">City:</label>
        <input type="text" id="city" name="city" required><br><br>
        <label for="pin">PIN:</label>
        <input type="text" id="pin" name="pin" required><br><br>
        <label for="cgpi">CGPI:</label>
        <input type="text" id="cgpi" name="cgpi" required><br><br>
        <button type="submit">Submit</button>

    </form>
    <br>
    <a href="/">Go back to home page</a>
</body>
</html>
